.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* sherd style */
.drak-2{
    color: rgb(14, 14, 14, 50%);
}
.drak-3{
    color: rgb(14, 14, 14, 70%)
}

.btn-primary{
    border: none;
    background-color: #006A50;
    border-radius: 8px;
    padding:18px;
    color:white;
}

/* nav Style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px 0px 60px;
    
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
    margin: 31px 500px 31px 160px;
    margin-left: 100px;
}
nav ul li {
    list-style: none;
}
.nav-btn{
    background-color: white;
    border-color: #006A50;
    padding: 15px 30px 15px 30px;
    border-radius: 7px;
    color: #006A50;
    font-weight: bold;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0px 160px;
    background-color: rgb(198, 228, 214);
    align-content: center;
    border-radius: 15px;
}

.banner-greetings{
    margin-left: 8px;
}
.banner-content{
    max-width: 600px;
}

.banner-title{
    Width: 622px;
   Height: 201px;
   Top: 440px;
   Left: 0px;
   padding: 1;
   margin-left: 8px;
   }

   .hero{
    width: auto;
    height: 300px;
    margin-left:20x
}

.banner-button{
    margin: 0 75px 100px 100px;
    margin-bottom: 50px;
}

/* card styles */
.card-content{
    margin: 0 160px 0px 160px;
    margin-top: 50px;
}
.card-des{
    color: rgb(14, 14, 14, 70%);
}
.content-container{
    display: flex;
    margin-top: 32px;
    gap: 24px;
}
.content-title{
    font-weight: 700;
    font-size: 20px;
    height: 24px;
    text-align: left;

}
.Digital-Transformation{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 15px;
}

.btn-1{
    background-color: rgb(84, 144, 245);
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.Green-Energy{
    background-color: rgb(198, 228, 214);
    border-radius: 16px;
    padding: 15px;
}

.btn-2{
    background-color:rgb(9, 161, 92) ;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.Modern-Infrastructure{
    background-color: rgb(247, 235, 207);
    border-radius: 16px;
    padding: 15px;
}

.btn-3{
    background-color: rgb(255, 194, 57);
    padding: 15px;
    border-radius: 8px;
    color: white;
    border: none;
}
/* Dr. Muhammad Yunus speach */
.yns-bani{
    background-image: url(../Img/quote-bg.png);
    background: no-repeat;
    padding: 48px 24px 48px 24px;
}
.bani{

background: no-repeat;
margin: 20px 160px 0px 160px;
border: rgb(0, 0, 0);
border-radius: 5px;

 }
 .dr-name{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    font-size: 20px;
    height: 24px;
    margin: 12px 160px 0 160px;
 }
 .dr-c{
    margin: 0 160px 0px 160px

 }

/* News 1 */
.news{
    margin: 0 160px 0px 160px
}

.news-content{
    margin: 0 160px 0px 160px;
    display: flex;
    flex-direction: row;
}

.al-img{
    width: 135px;
    height: 40px;
    margin-bottom: 10px;
}
.n1{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.news-btn-1{
    background-color:rgb(0, 106, 80) ;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin: 13px 20 13px 26px;
}

.satelite-img{
    width: 480px;
    height: 306px;
    border-radius: 8px;

}
.d-t{
    display: flex;
    gap: 5px;
}

/* news 2 */

.n2{
    display: flex;
    margin-top: 180px;
    
}
.dt2{
    display: flex;
    flex-direction: column;
}