.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* sherd style */
.drak-2{
    color: rgb(14, 14, 14, 50%);
}

.btn-primary{
    border: none;
    background-color: #006A50;
    border-radius: 8px;
    padding:18px;
    color:white;
}

/* nav Style */
nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
    margin: 31px 500px 31px 160px;
    margin-left: 100px;
}
nav ul li {
    list-style: none;
}
.nav-btn{
    background-color: white;
    border-color: #006A50;
    padding: 15px 30px 15px 30px;
    border-radius: 7px;
    color: #006A50;
    font-weight: bold;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0px 160px;
    background-color: rgb(198, 228, 214);
    align-content: center;
    border-radius: 15px;
}

.banner-greetings{
    margin-left: 8px;
}
.banner-content{
    max-width: 600px;
}

.banner-title{
    Width: 622px;
   Height: 201px;
   Top: 440px;
   Left: 0px;
   padding: 1;
   margin-left: 8px;
   }